@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

@font-face {
  font-family: 'Montserrat bold', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

$font-family-main: 'Montserrat', sans-serif;
$font-family-bold: 'Montserrat bold', sans-serif;
